.navbar {
  background-color: #aca5a5;
  padding: 1rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 500;
  margin: 0 auto;
}

.navbar-links {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0 ;
  padding: 20px;
}

.navbar-links p{
  color: #fff;
}

