.job-card {
  background-color: white;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 300px; 
  width: 300px; 
}

.job-card-header {
  display: flex;
  justify-content: space-between;
  align-items:center;
}

.company-logo {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.save-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 14px;
}

.job-card-body {
  margin-top: 10px;
}

.job-title {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0;
}

.job-tags {
  display: flex;
  gap: 8px;
  margin: 10px 0;
}

.job-type,
.job-schedule {
  background-color: #f0f0f0;
  border-radius: 16px;
  padding: 4px 8px;
  font-size: 12px;
}

.job-details {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.salary,
.location {
  font-size: 14px;
  color: #888;
}

.apply-btn {
  background-color: black;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 8px;
  cursor: pointer;
  font-size: 14px;
  margin-top: 10px;
}
